<p><a href="/logout"> Logout || </a><a href="/journals"> Journal Entries </a> || <a href="/journals/new"> New Journal Entry</a><br></p>

JOURNAL ENTRIES

<p><% @journals.each do |journal| %></p>
    <strong><%= journal.title %></strong>
    <p>Date: <%= journal.date %></p>
    <p>Entry: <%= journal.entry %></p>
    <p>Mood: <%= journal.mood %></p>
    <br><br>
    <a href="/journals/<%=journal.id%>"> Showpage </a>
<% end %>




